<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Telerik UI for WinForms 2024.4.1113" value="C:\Program Files (x86)\Progress\Telerik UI for WinForms 2024 Q4\Bin90\NuGet" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.Data.Sqlite" />
      <package pattern="Microsoft.Data.Sqlite.Core" />
      <package pattern="SQLitePCLRaw.*" />
      <package pattern="Microsoft.*" />
    </packageSource>
    <packageSource key="Telerik UI for WinForms 2024.4.1113">
      <package pattern="UI.for.WinForms.*" />
      <package pattern="Telerik.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>