<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    
  </startup>
  <appSettings>
    <add key="TelerikWinFormsThemeName" value="Fluent" />
    <add key="ConciliadorSqlConnectionString"
         value="Server=192.168.7.51;Database=Conciliador;User Id=conciliador;Password=DEFINIR;TrustServerCertificate=True;" />
  </appSettings>
</configuration>